In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [2]:
df = pd.read_csv('properties.csv')
df.head()

          type     price  url  location     bedrooms    bathrooms    area
0  Appartement   2550000  NaN  Hay Riad   2 bedrooms  2 bathrooms     96
1        Villa  24000000  NaN   Souissi  7+ bedrooms  5 bathrooms  1 700
2        Villa  27000000  NaN   Souissi   6 bedrooms  6 bathrooms  3 815
3        Villa  12500000  NaN   Souissi   5 bedrooms  5 bathrooms    550
4        Villa  18000000  NaN   Souissi  7+ bedrooms  5 bathrooms  2 000

In [3]:
df.shape

(1250, 7)

In [4]:
df1 = df.drop('url',axis=1)
df1.head()

          type     price  location     bedrooms    bathrooms    area
0  Appartement   2550000  Hay Riad   2 bedrooms  2 bathrooms     96
1        Villa  24000000   Souissi  7+ bedrooms  5 bathrooms  1 700
2        Villa  27000000   Souissi   6 bedrooms  6 bathrooms  3 815
3        Villa  12500000   Souissi   5 bedrooms  5 bathrooms    550
4        Villa  18000000   Souissi  7+ bedrooms  5 bathrooms  2 000

### Cleaning Data

In [6]:
missing_values=df1.isnull().sum()
print(missing_values)

type           0
price          0
location       0
bedrooms     125
bathrooms    110
area           0
dtype: int64

In [7]:
df2=df1.dropna()
missing_values2=df2.isnull().sum()
missing_values2

type         0
price        0
location     0
bedrooms     0
bathrooms    0
area         0
dtype: int64

In [8]:
#clean bedrooms ,bathrooms columns (extract numerical data)
df2.loc[ : , 'Num_Bedrooms'] = df2['bedrooms'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))))
df2

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7448\3894313079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[ : , 'Num_Bedrooms'] = df2['bedrooms'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))))

,type,price,location,bedrooms,bathrooms,area,Num_Bedrooms
0,Appartement,2550000,Hay Riad,2 bedrooms,2 bathrooms,96,2
1,Villa,24000000,Souissi,7+ bedrooms,5 bathrooms,1 700,7
2,Villa,27000000,Souissi,6 bedrooms,6 bathrooms,3 815,6
3,Villa,12500000,Souissi,5 bedrooms,5 bathrooms,550,5
4,Villa,18000000,Souissi,7+ bedrooms,5 bathrooms,2 000,7
...,...,...,...,...,...,...,...
1242,Appartement,2800000,Agdal,5 bedrooms,2 bathrooms,150,5
1243,Villa,9500000,Hay Riad,7+ bedrooms,2 bathrooms,500,7
1244,Appartement,8200000,Souissi,3 bedrooms,2 bathrooms,341,3
1246,Villa,9200000,Hay Riad,7 bedrooms,3 bathrooms,500,7
1248,Villa,10000000,Hay Riad,7+ bedrooms,2 bathrooms,942,7

In [9]:
df2.loc[ : , 'Num_Bathrooms'] = df2['bathrooms'].apply(lambda x : int(''.join(filter(str.isdigit,str(x)))))
df2

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7448\3174689883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[ : , 'Num_Bathrooms'] = df2['bathrooms'].apply(lambda x : int(''.join(filter(str.isdigit,str(x)))))

,type,price,location,bedrooms,bathrooms,area,Num_Bedrooms,Num_Bathrooms
0,Appartement,2550000,Hay Riad,2 bedrooms,2 bathrooms,96,2,2
1,Villa,24000000,Souissi,7+ bedrooms,5 bathrooms,1 700,7,5
2,Villa,27000000,Souissi,6 bedrooms,6 bathrooms,3 815,6,6
3,Villa,12500000,Souissi,5 bedrooms,5 bathrooms,550,5,5
4,Villa,18000000,Souissi,7+ bedrooms,5 bathrooms,2 000,7,5
...,...,...,...,...,...,...,...,...
1242,Appartement,2800000,Agdal,5 bedrooms,2 bathrooms,150,5,2
1243,Villa,9500000,Hay Riad,7+ bedrooms,2 bathrooms,500,7,2
1244,Appartement,8200000,Souissi,3 bedrooms,2 bathrooms,341,3,2
1246,Villa,9200000,Hay Riad,7 bedrooms,3 bathrooms,500,7,3
1248,Villa,10000000,Hay Riad,7+ bedrooms,2 bathrooms,942,7,2

In [10]:
df2=df2.drop(['bedrooms','bathrooms'],axis=1)
df2

             type     price  location    area  Num_Bedrooms  Num_Bathrooms
0     Appartement   2550000  Hay Riad     96              2              2
1           Villa  24000000   Souissi  1 700              7              5
2           Villa  27000000   Souissi  3 815              6              6
3           Villa  12500000   Souissi    550              5              5
4           Villa  18000000   Souissi  2 000              7              5
...           ...       ...       ...     ...           ...            ...
1242  Appartement   2800000     Agdal    150              5              2
1243        Villa   9500000  Hay Riad    500              7              2
1244  Appartement   8200000   Souissi    341              3              2
1246        Villa   9200000  Hay Riad    500              7              3
1248        Villa  10000000  Hay Riad    942              7              2

[1120 rows x 6 columns]

In [11]:
df2['Num_Bathrooms'].unique()

array([2, 5, 6, 3, 4, 1, 7], dtype=int64)

### Clean Type , Location

In [13]:
df2.location.value_counts()

location
Souissi                   320
Hay Riad                  300
Agdal                     115
rabat                      85
El Menzeh                  40
Hassan                     30
Guich oudayas              25
Quartier Agdal Haut        20
Indéfini                   20
L'Ocean                    15
Mabella                    15
Hay Nahda                  15
Ambassadeurs               15
Hay Al Fath                15
Les Ambassadeurs           15
Médina de                  10
Ain Aouda                  10
Menzehe                    10
Diour Jamaa                10
centre ville                5
Bir Kacem                   5
Autre                       5
Route des Zaers             5
Aviation                    5
Sidi Allal el Bahraoui      5
Kebibat                     5
Name: count, dtype: int64

In [14]:
# Convert to lowercase and strip leading/trailing spaces
df2['location']=df2['location'].str.lower().str.strip()
df2['type']=df2['type'].str.lower().str.strip()

location_mapping= {
    'hay riyad': 'hay riad',
    'souissi ': 'souissi',
    'indéfini': 'unknown',
    'autre': 'unknown',
}
df2['location']=df2['location'].replace(location_mapping)
df2.fillna('unkown',inplace=True)

In [15]:
df2

             type     price  location    area  Num_Bedrooms  Num_Bathrooms
0     appartement   2550000  hay riad     96              2              2
1           villa  24000000   souissi  1 700              7              5
2           villa  27000000   souissi  3 815              6              6
3           villa  12500000   souissi    550              5              5
4           villa  18000000   souissi  2 000              7              5
...           ...       ...       ...     ...           ...            ...
1242  appartement   2800000     agdal    150              5              2
1243        villa   9500000  hay riad    500              7              2
1244  appartement   8200000   souissi    341              3              2
1246        villa   9200000  hay riad    500              7              3
1248        villa  10000000  hay riad    942              7              2

[1120 rows x 6 columns]

In [16]:
len(df2.type.value_counts())

5

In [17]:
len(df2.location.value_counts())

25

### Clean Area

In [19]:
df2.area.unique()

array(['96 ', '1\u202f700 ', '3\u202f815 ', '550 ', '2\u202f000 ', '91 ',
       '342 ', '1\u202f950 ', '143 ', '129 ', '220 ', '174 ', '198 ',
       '480 ', '518 ', '181 ', '145 ', '98 ', '1\u202f763 ', '182 ',
       '200 ', '177 ', '100 ', '1\u202f900 ', '400 ', '250 ',
       '2\u202f160 ', '840 ', '800 ', '3\u202f200 ', '3\u202f742 ',
       '168 ', '3\u202f800 ', '450 ', '1\u202f634 ', '4\u202f226 ',
       '6\u202f489 ', '1\u202f800 ', '5\u202f716 ', '180 ', '1\u202f200 ',
       '763 ', '2\u202f350 ', '224 ', '685 ', '127 ', '2\u202f270 ',
       '310 ', '235 ', '115 ', '296 ', '188 ', '136 ', '5\u202f100 ',
       '3\u202f350 ', '350 ', '750 ', '585 ', '230 ', '183 ', '476 ',
       '294 ', '122 ', '88 ', '3\u202f600 ', '50 ', '365 ', '93 ', '630 ',
       '935 ', '930 ', '1\u202f780 ', '2\u202f069 ', '2\u202f262 ',
       '870 ', '1\u202f437 ', '1\u202f720 ', '1\u202f100 ', '760 ',
       '687 ', '667 ', '875 ', '983 ', '356 ', '645 ', '5\u202f000 ',
       '196 ', '1\u202f998 ', '178 ', '2\u202f340 ', '130 ', '212 ',
       '144 ', '2\u202f700 ', '274 ', '811 ', '210 ', '395 ',
       '1\u202f000 ', '158 ', '405 ', '2\u202f500 ', '891 ', '140 ',
       '2\u202f800 ', '423 ', '99 ', '137 ', '315 ', '341 ', '834 ',
       '1\u202f982 ', '805 ', '86 ', '216 ', '113 ', '201 ', '688 ',
       '106 ', '1\u202f740 ', '138 ', '574 ', '151 ', '781 ', '160 ',
       '260 ', '700 ', '245 ', '226 ', '1\u202f001 ', '169 ', '287 ',
       '308 ', '120 ', '75 ', '116 ', '300 ', '117 ', '2\u202f200 ',
       '156 ', '118 ', '173 ', '189 ', '370 ', '500 ', '92 ', '507 ',
       '147 ', '95 ', '3\u202f000 ', '330 ', '155 ', '108 ',
       '2\u202f803 ', '121 ', '59 ', '2\u202f540 ', '620 ', '2\u202f008 ',
       '612 ', '600 ', '1\u202f625 ', '1\u202f019 ', '3\u202f713 ',
       '1\u202f965 ', '740 ', '150 ', '942 '], dtype=object)

In [20]:
# Remove thin spaces and trailing spaces
df2['area'] = df2['area'].str.replace('\u202f', '', regex=False).str.strip()

In [21]:
df2.area.unique()

array(['96', '1700', '3815', '550', '2000', '91', '342', '1950', '143',
       '129', '220', '174', '198', '480', '518', '181', '145', '98',
       '1763', '182', '200', '177', '100', '1900', '400', '250', '2160',
       '840', '800', '3200', '3742', '168', '3800', '450', '1634', '4226',
       '6489', '1800', '5716', '180', '1200', '763', '2350', '224', '685',
       '127', '2270', '310', '235', '115', '296', '188', '136', '5100',
       '3350', '350', '750', '585', '230', '183', '476', '294', '122',
       '88', '3600', '50', '365', '93', '630', '935', '930', '1780',
       '2069', '2262', '870', '1437', '1720', '1100', '760', '687', '667',
       '875', '983', '356', '645', '5000', '196', '1998', '178', '2340',
       '130', '212', '144', '2700', '274', '811', '210', '395', '1000',
       '158', '405', '2500', '891', '140', '2800', '423', '99', '137',
       '315', '341', '834', '1982', '805', '86', '216', '113', '201',
       '688', '106', '1740', '138', '574', '151', '781', '160', '260',
       '700', '245', '226', '1001', '169', '287', '308', '120', '75',
       '116', '300', '117', '2200', '156', '118', '173', '189', '370',
       '500', '92', '507', '147', '95', '3000', '330', '155', '108',
       '2803', '121', '59', '2540', '620', '2008', '612', '600', '1625',
       '1019', '3713', '1965', '740', '150', '942'], dtype=object)

In [22]:
# Convert 'area' to numeric, coercing errors to NaN
df2.loc[ : , 'area'] = pd.to_numeric(df2['area'], errors='coerce')

# Fill NaN values with 0
df2.loc[ : , 'area'] = df2['area'].fillna(0)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7448\1744487342.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.loc[ : , 'area'] = df2['area'].fillna(0)

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df2['area_scaled'] = scaler.fit_transform(df2[['area']])
df2

,type,price,location,area,Num_Bedrooms,Num_Bathrooms,area_scaled
0,appartement,2550000,hay riad,96,2,2,-0.708450
1,villa,24000000,souissi,1700,7,5,0.701723
2,villa,27000000,souissi,3815,6,6,2.561148
3,villa,12500000,souissi,550,5,5,-0.309311
4,villa,18000000,souissi,2000,7,5,0.965471
...,...,...,...,...,...,...,...
1242,appartement,2800000,agdal,150,5,2,-0.660976
1243,villa,9500000,hay riad,500,7,2,-0.353270
1244,appartement,8200000,souissi,341,3,2,-0.493056
1246,villa,9200000,hay riad,500,7,3,-0.353270
1248,villa,10000000,hay riad,942,7,2,0.035319

In [24]:
df2.area_scaled.describe()

count    1.120000e+03
mean    -3.489272e-17
std      1.000447e+00
min     -7.488918e-01
25%     -6.444915e-01
50%     -4.825061e-01
75%      1.962059e-01
max      4.912024e+00
Name: area_scaled, dtype: float64

In [25]:
df2 = df2.drop('area', axis=1)

## Clean Price

In [27]:
print(df2['price'].describe())

count    1.120000e+03
mean     1.026602e+07
std      1.191359e+07
min      8.500000e+05
25%      3.175000e+06
50%      6.500000e+06
75%      1.212500e+07
max      1.000000e+08
Name: price, dtype: float64

In [28]:
Q1 = df2['price'].quantile(0.25)
Q3 = df2['price'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR
df2 = df2[df2['price'] <= upper_bound]

In [29]:
df2.loc[ : , 'price_log'] = np.log(df2['price'] + 1)  # +1 to avoid log(0)
df2

,type,price,location,Num_Bedrooms,Num_Bathrooms,area_scaled,price_log
0,appartement,2550000,hay riad,2,2,-0.708450,14.751604
1,villa,24000000,souissi,7,5,0.701723,16.993564
3,villa,12500000,souissi,5,5,-0.309311,16.341239
4,villa,18000000,souissi,7,5,0.965471,16.705882
5,appartement,2450000,hay riad,2,2,-0.712846,14.711599
...,...,...,...,...,...,...,...
1242,appartement,2800000,agdal,5,2,-0.660976,14.845130
1243,villa,9500000,hay riad,7,2,-0.353270,16.066802
1244,appartement,8200000,souissi,3,2,-0.493056,15.919645
1246,villa,9200000,hay riad,7,3,-0.353270,16.034714
1248,villa,10000000,hay riad,7,2,0.035319,16.118096

In [30]:
df2['price_log'].describe()

count    1020.000000
mean       15.522025
std         0.793005
min        13.652993
25%        14.888695
50%        15.520259
75%        16.100431
max        17.034386
Name: price_log, dtype: float64

In [31]:
df2= df2.drop('price',axis=1)

In [32]:
df3 = pd.get_dummies(df2, columns=['location', 'type'], drop_first=True)
df3

,Num_Bedrooms,Num_Bathrooms,area_scaled,price_log,location_ain aouda,location_ambassadeurs,location_aviation,location_bir kacem,location_centre ville,location_diour jamaa,...,location_quartier agdal haut,location_rabat,location_route des zaers,location_sidi allal el bahraoui,location_souissi,location_unknown,type_duplex,type_immeuble,type_maison,type_villa
0,2,2,-0.708450,14.751604,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,7,5,0.701723,16.993564,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3,5,5,-0.309311,16.341239,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,7,5,0.965471,16.705882,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
5,2,2,-0.712846,14.711599,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,5,2,-0.660976,14.845130,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1243,7,2,-0.353270,16.066802,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1244,3,2,-0.493056,15.919645,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1246,7,3,-0.353270,16.034714,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1248,7,2,0.035319,16.118096,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [33]:
# Clean column names (replace spaces with underscores)
df3.columns = df3.columns.str.replace(' ', '_')

In [34]:
bool_cols = df3.select_dtypes(include='bool').columns
df3[bool_cols] = df3[bool_cols].astype(int)
df3

,Num_Bedrooms,Num_Bathrooms,area_scaled,price_log,location_ain_aouda,location_ambassadeurs,location_aviation,location_bir_kacem,location_centre_ville,location_diour_jamaa,...,location_quartier_agdal_haut,location_rabat,location_route_des_zaers,location_sidi_allal_el_bahraoui,location_souissi,location_unknown,type_duplex,type_immeuble,type_maison,type_villa
0,2,2,-0.708450,14.751604,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,5,0.701723,16.993564,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,5,5,-0.309311,16.341239,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,7,5,0.965471,16.705882,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
5,2,2,-0.712846,14.711599,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,5,2,-0.660976,14.845130,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1243,7,2,-0.353270,16.066802,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1244,3,2,-0.493056,15.919645,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1246,7,3,-0.353270,16.034714,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1248,7,2,0.035319,16.118096,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Training Model

In [36]:
X = df3.drop('price_log',axis='columns')

In [37]:
y = df3.price_log
y.head(10)

0     14.751604
1     16.993564
3     16.341239
4     16.705882
5     14.711599
6     15.869634
7     16.523561
8     15.226498
9     15.955577
11    14.493545
Name: price_log, dtype: float64

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [39]:
from sklearn.linear_model import LinearRegression
regModel = LinearRegression()
regModel.fit(X_train, y_train)
regModel.fit(X_test, y_test)

LinearRegression()

In [40]:
regModel.score(X_test,y_test)

0.8970389993622843

In [41]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits = 5, test_size= 0.2, random_state=0)
cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.87432333, 0.87969094, 0.87625834, 0.88560423, 0.88847358])

In [42]:
from sklearn.model_selection import GridSearchCV

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [43]:
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV, ShuffleSplit
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import pandas as pd

def find_best_model_using_gridsearchcv(X, y):
    algos = {
        'linear_regression': {
            'model': make_pipeline(StandardScaler(), LinearRegression()),
            'params': {
                'linearregression__fit_intercept': [True, False],
                'linearregression__positive': [False]  # Optional parameter
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion': ['squared_error'],
                'splitter': ['best', 'random'],
                'max_depth': [3, 5, 7],  # Reduce depth to limit complexity
                'min_samples_split': [5, 10],  # Require more samples to split
                'min_samples_leaf': [2, 4]  # Require more samples per leaf
            }
        },
        'random_forest' : {
            'model': RandomForestRegressor(),
            'params': {
                'n_estimators': [50, 100],
                'max_depth': [5, 7],
                'min_samples_split': [5, 10]
            }
        }
    }

    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    
    for algo_name, config in algos.items():
        gs = GridSearchCV(
            estimator=config['model'],
            param_grid=config['params'],
            cv=cv,
            return_train_score=False
        )
        gs.fit(X, y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })
    
    return pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])

In [44]:
find_best_model_using_gridsearchcv(X,y)

,model,best_score,best_params
0,linear_regression,0.880870,"{'linearregression__fit_intercept': True, 'lin..."
1,decision_tree,0.961906,"{'criterion': 'squared_error', 'max_depth': 7,..."
2,random_forest,0.975878,"{'max_depth': 7, 'min_samples_split': 5, 'n_es..."

### Prediction and Visualization

In [46]:
#Predict on test data
y_pred_log = regModel.predict(X_test)  # Predictions in log scale

# Reverse log transformation to get actual prices
y_pred_original = np.exp(y_pred_log) - 1

In [47]:
print("Columns in DataFrame:", df.columns.tolist())

Columns in DataFrame: ['type', 'price', 'url', 'location', 'bedrooms', 'bathrooms', 'area']

In [48]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression

# Define preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        # Scale numerical features
        ('num', StandardScaler(), df['area', 'bedrooms', 'bathrooms']),
        # One-hot encode categorical features
        ('cat', OneHotEncoder(handle_unknown='ignore'), df['location', 'type'])
    ]
)

# Create pipeline with Linear Regression
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', LinearRegression())
])

# Fit the pipeline on training data
pipeline.fit(X_train, y_train)

KeyError: ('area', 'bedrooms', 'bathrooms')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Reverse log transformation for actual prices
y_test_original = np.exp(y_test) - 1  # If you used log(price + 1)
# OR
y_test_original = np.exp(y_test)       # If you used log(price)

plt.figure(figsize=(10, 6))
sns.scatterplot(x=y_test_original, y=y_pred_original, alpha=0.6)
plt.plot([y_test_original.min(), y_test_original.max()], 
         [y_test_original.min(), y_test_original.max()], 'r--', lw=2)
plt.xlabel('Actual Price')
plt.ylabel('Predicted Price')
plt.title('Actual vs. Predicted Prices (Original Scale)')
plt.show()

In [ ]:
residuals = y_test_original - y_pred_original

plt.figure(figsize=(10, 6))
sns.scatterplot(x=y_pred_original, y=residuals, alpha=0.6)
plt.axhline(y=0, color='r', linestyle='--', lw=2)
plt.xlabel('Predicted Price (Original Scale)')
plt.ylabel('Residuals (Actual - Predicted)')
plt.title('Residual Plot (Original Scale)')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(residuals, kde=True, bins=30)
plt.xlabel('Prediction Error (Actual - Predicted)')
plt.title('Distribution of Residuals (Original Scale)')
plt.show()

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test_original, y_pred_original)
rmse = np.sqrt(mean_squared_error(y_test_original, y_pred_original))
r2 = r2_score(y_test_original, y_pred_original)

print(f'MAE (Original Scale): ${mae:,.2f}')
print(f'RMSE (Original Scale): ${rmse:,.2f}')
print(f'R² (Original Scale): {r2:.2f}')